.header-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        height: 80px;
        display: flex;
        align-items: center;
        img{
            width: 100px;
            object-fit: contain;
        }
        .sub-text-logo-header{
            color: #02c4c1;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    .search-product-panel{
        position: relative;
        .input-search-product{
            border: 1.2px solid #399da7;
            width: 500px !important;
            border-radius: 2px;
            >div{
                padding: 0;
            }
            input{
                padding: 7px 15px !important; 
            }
            fieldset{
                display: none;
            }

        }
        .btn-seach{
            position: absolute;
            right: 0;
        }
    }
    .acount-panel{
        .btn-acount{
            border: 1px solid #399da7;
            color: #399da7;
            margin: 0 10px;
            padding: 5px 10px;
            &:hover{
                background-color: #399da7;
                color: white;
            }
        }
    }
}

.custom-dialog-auth{
    
}